/** global class styling **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: #eee;
}

li {
    list-style: none;
    list-style-type: none
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    padding: 80px 0px 40px 0px;
    text-align: center;
}

p {
    padding: 20px 60px;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    min-width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 8px #000000;
    justify-content: space-around;
    font-size: 1.25em;
    z-index: 100;
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
}

nav {
    font-weight: 500;
}

nav>ul {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    justify-items: center;
    padding-left: 50px;
}

.legal {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    background-color: honeydew;
    max-width: 720px;
    height: 640px;
    overflow: auto;
    line-height: 130%;
}

footer {
    background-color: #e0e0e0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer>ul {
    display: flex;
    justify-content: center;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.95em;
}

@media (max-width: 550px) {
    .legal {
        padding-top: 200px;
        padding-bottom: 50px;
    }
    h2 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
    .logo {
        width: 100%;
        align-content: center;
    }
    .font-effect-fire-animation {
        display: none;
    }
    .subtitle {
        display: none;
    }
    #difference .icon {
        display: none;
    }
    nav>ul {
        padding-left: 1em;
    }
    .legal {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    h2 {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .logo {
        width: 100%;
        position: relative;
        align-self: center;
    }
    .container {
        margin-top: 300px;
    }
    .logo>img {
        margin: 0 auto;
        align-self: auto;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    nav li {
        padding-bottom: 5px;
    }
    nav>ul {
        flex-direction: column;
        align-items: center;
        padding-left: 1em;
    }
    .legal {
        border-top: 2000px;
        padding-bottom: 50px;
        margin-top: 150px;
    }
    h2 {
        text-align: center;
    }
}