/** global class styling **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
    background-color: #eee;
}

h2 {
    padding-bottom: 10px;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
    list-style-type: none
}

a {
    color: #000;
    text-decoration: none;
}


/** global class styling **/

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    min-width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 8px #000000;
    justify-content: space-around;
    font-size: 1.25em;
    z-index: 100;
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    cursor: pointer;
}

nav {
    font-weight: 500;
}

nav>ul {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em;
    justify-items: center;
    padding-left: 50px;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 200px;
    font-size: 3em;
}

.font-effect-fire-animation {
    font-size: 1.5em;
}

#subtitle {
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #444;
}

#quote {
    color: gray;
}

#signup>h2 {
    margin-bottom: 10px;
    word-wrap: break-word;
}

#signup input[type="email"] {
    max-width: 275px;
    width: 150%;
    padding: 5px;
}

#signup input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#signup input[type="submit"]:hover {
    background-color: #fe3b05;
    transition: background-color 1s;
}

#dif-head {
    margin-top: 10px;
    padding-top: 30%;
}

#points {
    padding-bottom: 10px;
}

.desc {
    max-width: 600px;
    font-size: larger;
}

#Guy {
    max-width: 200px;
}

#Ramsey {
    max-width: 220px;
    margin-top: 56px;
    margin-left: -20px;
    height: 260px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#link {
    margin-top: 75px;
    color: blue;
    display: inline-block;
}

#link2 {
    margin-top: 100px;
    color: blue;
    display: inline-block;
}

#difference {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 20px;
}

#difference .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 8vw;
    color: darkorange;
    margin: 20px;
}

#difference .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 80vw;
    padding: 20px;
}

#rap {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#rap>iframe {
    max-width: 560px;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #e0e0e0;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 5px 5px 5px #e0e0e0;
}

.product>.flavor {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 2px 2px px #000000;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px #e0e0e0;
}

.product>button:hover {
    background-color: #fe3b05;
    transition: background-color 1s;
}

.flavor {
    background-color: #e0e0e0;
    text-transform: uppercase;
    border: #e0e0e0;
    font-size: 1.5em;
    justify-content: space-around;
}

#signup {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

#email {
    margin: 10px;
}

#submit {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 200;
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px #e0e0e0;
}

#submit:hover {
    background-color: #fe3b05;
    transition: background-color 1s;
}

footer {
    background-color: #e0e0e0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer>ul {
    display: flex;
    justify-content: center;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.95em;
}

@media (max-width: 700px) {
    img {
        display: none;
    }
    #difference .icon {
        display: none;
    }
    #link {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-top: 50px;
    }
    #link2 {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
    .logo {
        width: 60vw;
        align-content: center;
    }
    .font-effect-fire-animation {
        display: none;
    }
    img {
        display: none;
    }
    #difference .icon {
        display: none;
    }
    #subtitle {
        display: none;
    }
    #difference .icon {
        display: none;
    }
    nav>ul {
        padding-left: 1em;
    }
    #difference {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #difference .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
    .subtitle {
        padding-top: 75px;
        text-align: center;
    }
    #subtitle {
        padding-top: 35px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        color: #444;
    }
    #link {
        margin-top: 220px;
    }
    #link2 {
        margin-top: 200px;
    }
}

@media (max-width: 650px) {
    .logo {
        width: 100%;
        position: relative;
        align-self: center;
    }
    .container {
        margin-top: 300px;
    }
    .logo>img {
        margin: 0 auto;
        align-self: auto;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    nav li {
        padding-bottom: 5px;
    }
    nav>ul {
        flex-direction: column;
        align-items: center;
        padding-left: 1em;
    }
    #difference {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #subtitle {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        color: #444;
    }
    img {
        display: none;
    }
    #difference .icon {
        display: none;
    }
    #link {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #link2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 550px) {
    #difference {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #difference .icon {
        display: none;
    }
    #difference .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
        margin-top: 10%;
    }
    .font-effect-fire-animation {
        display: none;
    }
    #subtitle {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5em;
        color: #444;
    }
}